/* title-section */

.titletext {
  font-size: 3.5rem;
  margin-top: 20%;
  margin-right: 20%;
  text-align: center;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
  text-shadow:
-2px 0px 0px rgb(0, 0, 0),
2px 0px 0px rgb(0, 0, 0),
0px -2px 0px rgb(0, 0, 0),
0px 2px 0px rgb(0, 0, 0);
line-height: 1.5;
}
.btn {
  z-index: 5;
}
/* video */
.video {
  width: 95vw;
  height:100vh;
}
/* button */
.pizzaorder {
  margin-left: 29%;
}
.fullmenu {
  margin-top: 60px;
  margin-left: 42%;
}
/* navbar */
.navbar {
  background-color: rgb(0, 0, 0);
  position: relative;
}
.navbar-brand {
  font-family: Montserrat;
}

.nav-link {
    font-size: 1.5rem;
    margin-right: 50px;
}


/* about-section */
#about {
  padding: 7% 10%;
  text-align: center;
  background-color: #000000;
  color: #fff;
  margin-right: 0;
}

/* pricing section */
#pricing {
  margin-bottom: 30px;
}
.pizzaimage {
  border-radius: 50%;
}
#footer {
  background-color: #fff;
  padding: 2% 2%;
  text-align: center;
  color: #fff;
  font-style: 'Montserrat';
}
.facebook {
  margin-right: 15px;
}
.facebook:hover {
  color: #13005A;
}
.whatsapp {
  color: #82CD47;
  margin-right: 15px;
}
.whatsapp:hover {
  color: #285430;
}
.linkedin {
  margin-right: 15px;
}
.linkedin:hover {
  color: #13005A;
}
.mail {
  color: #CF0A0A;
  margin-right: 15px;
}
.mail:hover {
  color: #850000;
}
.ffoo {
    margin-bottom: 60px;
}
.fullmenu {
  position: relative;
  margin: 0;
  padding: 0.8em 1em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.fullmenu:hover {
  animation: sh0 0.5s ease-in-out both;
}

@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

button::before,
button::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

button:hover::before,
button:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

button:hover::after {
  transform: translate(50%, 0) scale(1.1);
}


/* reviews-section */
#reviews {
  padding: 7% 10%;
  text-align: center;
  background-color: #282A3A;
  color: #fff;
  margin-right: 0;
}
.review-image {
  width:10%;
}
hr {
  background-color: none;
  border-style: none;
  border-top-style: dotted;
  border-top-width: 6px;
  border-color: lightgrey;
  height: 0px;
  width: 5%;
}
/* mobile view */
@media (max-width: 1000px) {
  .fullmenu {
    margin-left: -10%;
  }
  .video {
      padding:0;
      height: 400px; 
    }
  .pizzaimage {
    padding-left: 80px;
  }
    .titletext {
      font-size: 2rem;
      margin-top: 0;
      padding-left: 17%;
      text-align: center;
      font-family: 'Montserrat';
      color: rgb(255, 255, 255);
      text-shadow:
    -2px 0px 0px rgb(0, 0, 0),
    2px 0px 0px rgb(0, 0, 0),
    0px -2px 0px rgb(0, 0, 0),
    0px 2px 0px rgb(0, 0, 0);
    line-height: 1.5;
    }
    .pizzaorder {
      margin-left: 30%;
    }
    
  }
  